<div class="container">
  <footer class="footer">
    <small>
      Copyright &copy; <a href="#">Deep Technology</a>
      by <a href="https://www.github.com/deepakMaj">Deepak Mahajan</a>
    </small>
    <nav>
      <ul>
        <li><a href="https://www.github.com/deepakMaj/Chat_App">About</a></li>
      </ul>
    </nav>
  </footer>
</div>
