<div class="row">
  <div class="text-center">
    <%= image_tag("favicon.png", class: "size") %>
    <h4 class="change">Say Something</h4>
  </div>
</div>

<div class="row">
<div class="col-md-9">
  <div class="panel panel-default colm">
    <div class="panel-body coln">
      <section>
        <%= render @messages %>
      </section>
    </div>
    <div class="panel-footer">
      <div class="input-group">
        <input type="text" class="form-control" placeholder="Enter message...">
        <span class="input-group-btn">
          <button type="button" class="btn btn-primary">
            <span class="glyphicon glyphicon-share-alt" aria-hidden="true"></span>
          </button>
        </span>
      </div>
    </div>
   </div>
  </div>
  <div class="col-md-3">
   <div class="well col">
    <ul class="nav nav-pills nav-stacked">
      <li role="presentation" class="active"><a href="#">Home</a></li>
      <li role="presentation"><a href="#">Mesages</a></li>
      <li role="presentation"><a href="#">Friends</a></li>
    </ul>
   </div>
  </div>
</div>
