<div class="center jumbotron">
  <h1 align="center">MessageMe-<i>ChatApp</i></h1>
  <div class="row cen">
    <div class="col-md-3">
      <%= link_to "Login", login_path, class: "btn btn-primary btn-lg", type: "button"%>
    </div>
    <div class="col-md-2">
      <%= link_to "Sign Up", signup_path, class: "btn btn-primary btn-lg", type: "button"%>
    </div>
  </div>
</div>
